<%- content_for :body_id, 'users-index' -%>

<table class="table table-striped table-borderd">
  <tr>
    <th>Date</th>
    <th>Member</th>
  </tr>

<% @board_summary.sort.each do |key, value| %>
  <tr>
    <td><%= key %></td>
    <td><%= value %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New User', new_user_path %>
<%= button_to 'Back', board_path(@users.first.board_id), method: :get %>
</div>
